.role-loup{
	background: url('images/roles/loup.svg');
}

.role-loupblanc{
	background: url('images/roles/loupblanc.svg');
}

.role-infecteloup{
	background: url('images/roles/infecteloup.svg');
}

.role-voyante{
	background: url('images/roles/voyante.svg');
}

.role-voyantebavarde{
	background: url('images/roles/voyante.svg');
}

.role-renard{
	background: url('images/roles/renard.svg');
}

.role-cupidon{
	background: url('images/roles/cupidon.svg');
}

.role-sorciere{
	background: url('images/roles/sorciere.svg');
}

.role-petitefille{
	background: url('images/roles/petitefille.svg');
}